@import "./base.css";

.navbar-title {
  display: unset !important;
  text-decoration: none;
}

.min-vh-80 {
  min-height: 80vh;
}

.toast-body {
  color: white;
}

.bar-section {
  cursor: pointer;
}

.no-border {
  border-radius: 0 !important;
}

.btn-list-item-action {
  width: 40px;
}

.nosub {
  text-decoration: none;
}

.spacer {
  margin-top: 100px;
}

.light-link {
  cursor: pointer;
  text-decoration: underline;
  color: #557392;
}

.cherry-highlight-line {
  background-color: #00000000!important;
}

.cherry-editor-height {
  height: 200px!important;
}